/* ========================footer============= */

.footer {
    color: white;
    padding: 25px;
    background: #000000;
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #443636
    ); 
    background: linear-gradient(to right, #434343, #000000);
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
  }
  