.navbar {
  padding: 2px;

}
.container-fluid{
    box-shadow: rgba(238, 43, 9, 0.35) 0px 5px 15px;
    margin: 0%;
    display: flex;
  }
    .navbar-brand {
      font-family: "roboto", sans-serif;
      text-transform: uppercase;
      letter-spacing: 15px;
      font-weight: 700;
    }
    .search-input{
      background: white;
      border-radius: 10px;
      box-shadow: rgba(29, 219, 70, 0.35) 0px 5px 15px;
      padding: 1rem;
      width: 30vw;
      border: none;
      outline: none;
      font-family: "Poppins", sans-serif;
    }
.nav-item a {
    color: #e0d8fe !important; /* For browsers that don't support gradients */
    background-image: -webkit-linear-gradient(top, #ff6347 , #ee3121); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(top, #ff6347 , #ee3121); 
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;  
    justify-content: space-between; 
    margin: 12px;
    border-radius: 10px;        
  }
  
  .nav-link:hover {
    color: #000000 !important; 
  }
  
  .findData {
    padding-left: 10%; 
    height: 100vh;
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: none;
    z-index: 1000; 
    overflow: scroll;
  }
  
