.login{
    background-color: aqua;
  }

  .logincss{
    display: flex;  
     justify-content: center;  
    align-items: center;
    /* height: 78.1vh; */
    height: 82vh;
  }

  .Signup{
    display: flex;  
     justify-content: center;  
    align-items: center;
    height: 82vh;
  }

 