
.formDiv{
margin-top: 4%;
 width: 100%;
 padding: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: Arial, sans-serif;
}

/* input[type=text], input[type=email] {
	width: 70%;
	padding: 12px 2     0px;
	margin: 8px 0;  
	display: inline-block;
	border: none;
	background-color: #f1f1f1;
} */

label{                  
	font-size: 16px;
}   

#submit{               
	cursor: pointer;
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: background-color 0.3s;
}

#submit:hover {                 /* Add a hover effect to the submit button */
	background-color: #45a049; /* Dark green */
}   
                 



.cards{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 1300px;
    margin: 0 auto;
  }
  .card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .image{
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .tourInfo{
    margin: 20px 5px;
  }
  
  .tourPrice{
    color: #1faa59;
    font-size: 1.3rem;
  }
  
  .tourName{
    font-size: 1.4rem;
  }
  
  .readMore{
    color: #12b8c8;
    text-transform: capitalize;
    cursor: pointer;
  }
  